.venv
build
.vscode
.idea
cmake-build-*
asm
assets
*.elf
*.ELF
*.map
undefined_syms_auto.txt
undefined_funcs_auto.txt
nonmatchings/
*.ld
__pycache__
.DS_Store
*.ninja
.splache
compile_commands.json
.ninja_*
objdiff.json
